.champions-container {
  max-width: 534px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 37px;
}

.champions-title {
  margin-top: 71px;
  font-weight: 700;
  font-size: 24px;
  color: #000000;
}

.champions-title {
  margin-bottom: 16px;
}

.champions-avatars {
  justify-content: center;
  display: flex;
  margin-bottom: 19px;
}

.champions-stats {
  justify-content: space-between;
  display: flex;
  width: 100%;
}

.champions-sub-info {
  align-self: flex-start;
  font-size: 12px;
  color: #666666;
}

.stat {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 5px;
}

.stat-data {
  height: 60%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.stat-border {
  width: 1px;
  height: 100px;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000000 51.04%, rgba(0, 0, 0, 0) 100%);
  margin: 0 10px;
}

.stat-value {
  font-weight: 700;
  font-size: 24px;
  color: #000000;
}

.champions-remove {
  position: absolute;
  opacity: 0;
  transition: all .3s ease-in-out;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-weight: 700;
  font-size: 14px;
}

.champions-avatar {
  position: relative;
  margin-right: 8px;
  transition: all .3s ease-in-out;
  user-select: none;
  cursor: pointer;
}

.champions-avatar:hover > .MuiAvatar-root {
  background: linear-gradient(0deg, rgba(33, 122, 255, 0.6), rgba(33, 122, 255, 0.6));
}

.champions-avatar:hover > .champions-remove {
  opacity: 1;
}