.tags-container {
  display: flex;
  flex-wrap: wrap;
  user-select: none;
  padding: 0 40px;
  margin-bottom: 1rem;
}

.tag {
  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 18px;

  height: min-content;
  margin-right: 10px;
  background: #FFFFFF;
  border: 1px solid #217AFF;
  border-radius: 20px;
  text-transform: capitalize;
  color: #217AFF;
  padding: 10px;
  margin-bottom: 10px;

  cursor: pointer;
}

.tag-clear-all {
  font-size: 20px;
  display: flex;
  color: #999999;
  justify-content: center;
  align-items: center;
  text-decoration: underline;

  cursor: pointer;
}

.selected-tag {
  background: #217AFF;
  color: white;
}