.input-container {
  position: relative;
  margin-bottom: 40px;
  width: 100%;
}

.find-icon {
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto 0;
  margin-left: 10px;
}

.input {
  outline: none;
  background: #FFFFFF;
  border: 1px solid #777777;
  border-radius: 4px;
  padding: 11px 0px 11px 37px;
  min-width: 300px;
}

.bg-line {
  z-index: -1;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
  position: absolute;
  height: 1px;
  max-width: 920px;
  background: linear-gradient(90deg, rgba(0, 0, 0, 0) 0%, #000000 51.04%, rgba(0, 0, 0, 0) 100%);
}