body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #F5FDFF;
}

.header {
  height: 76px;
  width: 100%;
  background: black;
  position: relative;
}

.logo {
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  width: 160px;
  height: 90px;
  bottom: -45px;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
}